[submodule "incidents-app"]
	path = incidents-app
	url = https://github.com/cap-js/incidents-app.git
[submodule "plugins/notifications"]
	path = plugins/notifications
	url = https://github.com/cap-js/notifications.git
